%font {
font-family: Helvetica;
font-weight: 400;
letter-spacing: 0px;
text-align: left;
}
* {
    @extend %font;
    text-decoration: none;
    color: black;
    cursor:auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-items: stretch;
font-family: Roboto;
font-size: 1rem;
font-weight: 500;
line-height: 1rem;
letter-spacing: 0px;
}
body {
    display: grid;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: space-between;
}
.logo {
    align-self: flex-start;
    margin-right: 50vw;
}
.url_ {
    width: min-content;
    flex-wrap: wrap;
}
ul li {
    margin-top: 10px;
}
ul li a {
    text-decoration: none;
    position: relative;
}

ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px; 
    background-color: #000; 
    position: absolute;
    bottom: 0;
    transition: width 0.5s ease;
}
ul li a:hover {
    cursor: pointer;
}
ul li a:hover::after {
    width: 100%;
}


.buy_project {
    text-decoration: underline;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 50px;
}
.first-second-items-navbar {
 display: flex;
}
.h1-text-exclusive {
    word-wrap: break-word;
    width: min-content;
}
.text-with-rooms {
    display: grid;
    grid-template-areas: 
    "text none second second"
    ". none second second"
    "first none second second"
    "first none second second";
}
.nothing {
    grid-area: none;
    width: 200px;
}
.text_about_mebel {
    min-width: min-content;
    max-width: 500px;
    grid-area: text;
}
.first-image-room {
    grid-area: first;
}
.second-image-room {
    grid-area: second;
    float: right;
}
.container_setka_grid {
    display: grid;
    grid-template-areas: 
    "year . rightc"
    "year . rightc"
    "year . rightc"
    "year . rightc"
    "year . rightc";
    margin-top: 500px;
}
.right_chapter {
    min-height: 700px;
    float: right;
    grid-area: rightc;
}
.we_team {
line-height: 1rem;
    div {
        margin-bottom: 1rem;
    }
    
}
.our_uslugi {
    line-height: 1rem;
    h4 {
font-family: Helvetica;
font-size: 36px;
font-weight: 400;
line-height: 50px;
letter-spacing: 0px;
text-align: left;

    }
    div {
        margin-top: 2rem ;
    }
}
.bolee_year {
    min-height: 700px;
    grid-area: year;
    margin-right: 150px;
    margin: left;
font-family: Helvetica;
font-size: 48px;
font-weight: 400;
line-height: 66px;
letter-spacing: 0px;
text-align: left;
}
.container_projects_setka {
    display: grid;
    grid-template-areas: 
    "img1 img2 img3"
    "img4 img5 img6";
    div a img {
        width: 33vw;
    }
}

.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4 {
    grid-area: img4;
}
.img5{
    grid-area: img5;
}
.img6 {
    grid-area: img6;
}
